@font-face {
    font-family: Nunito;
    src: url('../assets/Fonts/Nunito.ttf');
}

@font-face {
    font-family: Nunito-Italic;
    src: url('../assets/Fonts/Nunito-Italic.ttf');
}

.text-center{
    text-align: center;
    font-family: 'Nunito';
}